@use '../base/variables' as v;

@mixin password-reveal() {

.form__password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.form__input--password.revealed {
-webkit-text-security: none;
}

.form__toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__toggle-icon {
  width: 24px;
  height: 24px;
  fill: v.$yellow-color-secondary;
 }
}
