<div class="auth auth--forgot-password">
  <!-- Header -->
  <div class="auth__header">
    <div class="auth__header-content" appAnimateOnScroll="animate__fadeIn">
      <h2 class="auth__header-title">Forgot-Password</h2>
      <p class="auth__header-subtitle">
        Reset your password by entering your email and sending it
      </p>
    </div>
  </div>
  <!-- Form -->
  <div class="auth__form">
    <form
      class="form form--forgot-password"
      [formGroup]="form"
      (ngSubmit)="submitForm()"
    >
      <!-- Input: Email -->
      <div class="form__group" appAnimateOnScroll="animate__fadeIn">
        <label class="form__label" for="email">Your Email* </label>
        <input
          class="form__input"
          type="email"
          id="email"
          formControlName="email"
          [ngClass]="{ input_error: isFieldInvalid('email') }"
          placeholder="Ex: Joseph@billingpro.com"
          autocomplete="off"
          required
        />
        <div *ngIf="hasError('email', 'required')" class="error">
          Email is required.
        </div>
        <div *ngIf="hasError('email', 'invalidEmail')" class="error">
          Invalid email format.
        </div>
      </div>
      <div class="form__group form__group--button" appAnimateOnScroll>
        <button class="form__button" type="submit">Send email</button>
      </div>
      <div
        class="form__group form__group--sign-in"
        appAnimateOnScroll="animate__fadeIn"
      >
        <a class="form__sign-in-link" [routerLink]="['/sign-in']">Back to sign in</a>
      </div>
    </form>
  </div>
  <!-- Footer -->
  <div class="auth__footer">
    <p appAnimateOnScroll="animate__fadeIn">
      © 2024 BillingPro PYMES. All Rights Reserved. Made with love by Simmmple!
    </p>
  </div>

  <!-- Section Logo -->
  <div class="auth__logo-wrapper">
    <div class="auth__logo-section">
      <span appAnimateOnScroll>
        <img
          appVanillaTilt
          [tiltOptions]="{ max: 20, speed: 300 }"
          src="../../assets/icons/BillingLogo.svg"
          alt="BillingPro Logo"
          class="auth__logo"
        />
      </span>
      <h2 class="auth__logo-title" appAnimateOnScroll>BillingPro PYMES</h2>
    </div>
  </div>
</div>
