<div class="auth auth--signin">
  <!-- Popup “password send” -->
  <div *ngIf="showPasswordSentPopup" class="sent-popup">
    Password sent to email!
  </div>

  <!-- Header -->
  <div class="auth__header">
    <div class="auth__header-content" appAnimateOnScroll="animate__fadeIn">
      <h2 class="auth__header-title">Branch Login</h2>
      <p class="auth__header-subtitle">
        Welcome back! Please sign in to access Billing Pro PYMES.
      </p>
    </div>
  </div>
  <!-- Form -->
  <div class="auth__form">
    <form
      class="form form--signin"
      [formGroup]="form"
      (ngSubmit)="submitForm()"
    >
      <!-- Select: Branch -->
      <div class="form__group" appAnimateOnScroll="animate__fadeIn">
        <select
          class="form__select"
          id="branch"
          formControlName="branch"
          [ngClass]="{ input_error: isFieldInvalid('branch') }"
          required
        >
          <option value="">Select Your Branch...</option>
          <option *ngFor="let branch of branches" [value]="branch.id">
            {{ branch.name }}
          </option>
        </select>
        <div *ngIf="hasError('branch', 'required')" class="error">
          Branch is required.
        </div>
      </div>
      <!-- Input: Email -->
      <div class="form__group" appAnimateOnScroll="animate__fadeIn">
        <label class="form__label" for="email">Email</label>
        <input
          class="form__input"
          type="email"
          id="email"
          formControlName="email"
          [ngClass]="{ input_error: isFieldInvalid('email') }"
          placeholder="Enter Email"
          autocomplete="off"
          required
        />
        <div *ngIf="hasError('email', 'required')" class="error">
          Email is required.
        </div>
        <div *ngIf="hasError('email', 'invalidEmail')" class="error">
          Invalid email format.
        </div>
      </div>
      <!-- Input: Password -->
      <div class="form__group" appAnimateOnScroll="animate__fadeIn">
        <label class="form__label" for="password">Password* </label>
        <div class="form__password-container">
          <input
            #passwordInput
            class="form__input form__input--password"
            [type]="passwordVisible ? 'text' : 'password'"
            id="password"
            formControlName="password"
            [ngClass]="{
              input_error: isFieldInvalid('password'),
              revealed: passwordVisible
            }"
            placeholder="Enter Password"
            autocomplete="off"
            required
          />
          <button
            type="button"
            class="form__toggle"
            (click)="togglePassword()"
            [attr.aria-pressed]="passwordVisible"
            title="Toggle Password Visibility"
          >
            <svg
              *ngIf="!passwordVisible"
              class="form__toggle-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <title>Hide Password</title>
              <path
                d="M12 4C7 4 2.73 7.11 1 12a11.28 11.28 0 0 0 2.63 3.73l-1.43 1.43 1.41 1.41 1.43-1.43A11.28 11.28 0 0 0 12 20c5 0 9.27-3.11 11-8a11.28 11.28 0 0 0-2.63-3.73l1.43-1.43-1.41-1.41-1.43 1.43A11.28 11.28 0 0 0 12 4zm0 12a4 4 0 0 1-4-4 4 4 0 0 1 4-4 4 4 0 0 1 4 4 4 4 0 0 1-4 4z"
              />
              <circle cx="12" cy="12" r="2.5" />
            </svg>
            <svg
              *ngIf="passwordVisible"
              class="form__toggle-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <title>Show Password</title>
              <path
                d="M12 4C7 4 2.73 7.11 1 12c1.73 4.89 6 8 11 8s9.27-3.11 11-8c-1.73-4.89-6-8-11-8zm0 14a6 6 0 1 1 6-6 6 6 0 0 1-6 6z"
              />
              <circle cx="12" cy="12" r="2.5" />
            </svg>
          </button>
        </div>
        <div *ngIf="hasError('password', 'required')" class="error">
          Password is required.
        </div>
        <div *ngIf="hasError('password', 'minlength')" class="error">
          Password must be at least 6 characters.
        </div>
        <div *ngIf="hasError('password', 'weakPassword')" class="error">
          Password is too weak.
        </div>
      </div>
      <div
        class="form__group form__group--forgot"
        appAnimateOnScroll="animate__fadeIn"
      >
      <a class="form__forgot-link" [routerLink]="['/forgot-password']">Forget Password?</a>
      </div>

      <!-- Checkbox: Remember Me -->
      <div
        class="form__group form__group--checkbox"
        appAnimateOnScroll="animate__fadeIn"
      >
        <div class="form__checkbox">
          <input
            class="form__checkbox-input"
            type="checkbox"
            id="terms"
            formControlName="terms"
          />
          <span class="form__checkbox-label" for="terms"
            >Keep me logged in</span
          >
        </div>
      </div>
      <div class="form__group form__group--button" appAnimateOnScroll>
        <button class="form__button" type="submit">Login</button>
      </div>
    </form>
  </div>

  <!-- Footer -->
  <div class="auth__footer">
    <p appAnimateOnScroll="animate__fadeIn">
      © 2024 BillingPro PYMES. All Rights Reserved. Made with love by Simmmple!
    </p>
  </div>

  <!-- Sección Logo -->
  <div class="auth__logo-wrapper">
    <div class="auth__logo-section">
      <span appAnimateOnScroll>
        <img
          appVanillaTilt
          [tiltOptions]="{ max: 20, speed: 300 }"
          src="../../assets/icons/BillingLogo.svg"
          alt="BillingPro Logo"
          class="auth__logo"
        />
      </span>
      <h2 class="auth__logo-title" appAnimateOnScroll>BillingPro PYMES</h2>
    </div>
  </div>
</div>
